<!DOCTYPE html>
<html>
	<head>
		<title>ScoreSheets</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
		<div class="header">
			<h1><a class="main-logo" href="/">BACK HOME</a></h1>
		</div>