body{
	background: gray;
}

.popup-container{
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	top: 0;
	position: fixed;
	z-index: 1;
	justify-content: center;
	align-items: center;
	display: none;
}

.popup-window{
	background-color: #fefefe;
	height: 20em;
	width: 40em;
	border-radius: 10px;
	border: solid #272727 3px;
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header{
	background-color: #545454;
	padding: 5px;
	text-align: center;
	color: black;
	border-bottom: 4px solid #303030;
}

.header a{
	color: black;
}

.header a:hover{
	color: white;
}

.footer{
	width: 100%;
	/* position: absolute; */
	bottom: 0;
	padding-top: 10px;
}

.hidden{
	display: none;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-center{
	text-align: center;
}

.clickable{
	cursor: pointer;
}

.clickable.white:hover{
	color: white;
}

.clickable:hover{
	/* background: black; */
}

.empty{
	background: transparent;
	border-color: transparent;
}

.img.index{
	background-repeat: no-repeat;
	background-size: cover;
	/* background-attachment: fixed; */
	/* background-size: auto; */
	width: 100%;
	padding-top: 100%;
	border-radius: 50%;
	transition: 1s;
	border: 2px solid black;
	box-shadow: inset 0 0 30px #000;
}

.img.index:hover{
	transform: rotate(30deg);
	cursor: pointer;
	box-shadow: inset 0 0 100px #000;
	
}

h1.index{
	text-align: center;
}

.container{
	margin-top: 5px;
	padding-left: 5%;
	padding-right: 5%;
}

.img.title{
	height: 200px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: inline-block;
	vertical-align: middle;

}
.img.title h1{
	color: white;
	font-size: 4em;
	font-weight: bold;
	-webkit-text-stroke: 2px black;
}

.question-mark{
	color: darkgray;
}

.explanation{
	background-color: black;
	border: white 2px solid;
	color: gray;
	font-weight: bold;
	width: fit-content;
	height: fit-content;
	/* font-size: 0.9rem; */
	padding: 0.2em;
	display: none;
	position: absolute;
	margin-top: -23px;
	margin-left: 20px;
}

.popup-window.image-preview{
	background-size: cover;
	background-position: center;
}

.popup-window.image-preview>.close-popup{
	margin-bottom: 40%;
    margin-left: 85%;
}

/* Media management section */
/* Might need to move to a different file */
img.mediaManagement{
	height: 20em;
	width: 20em;
}