.single-user-container{
	border: 2px solid black;
	margin: 5px;
}

.edit-user:hover, .delete-user:hover{
	color: white;
}

a{
	color: black;
}

button{
	background: transparent;
	border-color: transparent;
}

.users-container{
	padding: 10px;
}

input.padding{
	margin: 3px;
}

.margin-center, .ui.button.margin-center{
	display: block;
	margin: auto;
}
