<%- include("../partials/header") %>
	<form action="/register" method="POST" >
		<label name="username">Username:</label><input type="text" placeholder="Username" name="username" required>	
		<label name="password">Password:</label><input type="password" placeholder="Password" name="password" required>	
		<input type="submit" value="register">
	</form>
<%- include("../partials/footer") %>